*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

#gridContainer{
    display: flex;
    flex-wrap: wrap;
    width: 750px;
    
}
#gridContainer > *{
    background-color: white;
    border: 2px solid black;
    aspect-ratio: 1;
}